body{
    position: relative;
    font-family: 'Vollkorn', sans-serif;
}
/*Styling background video*/
#bgVideo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
@media (max-width:768px){
    body{
        background-image: url(images/beeback.jpg);
        background-size: cover;
        background-position: center;
    }
    #bgVideo{
        display: none;
    }
}
/*Styling title segment of page*/
#home{
    background-color: transparent;
    color: black;
    text-align: center;
    padding-top: 15%;
}
#home h1{
    margin-bottom: 35px;
    font-weight: 600;
}
#home h2{
    margin-bottom: 60px;
    font-weight: 400;
}
#home .btn{
    background-color: #CF8250;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
}
#home .btn:hover{
    color: black;
}
/*Styling about part of page*/
.container{
    max-width: 1000px;
}
#about{
    color: black;
    text-align: center;
    padding-top: 100px;
}
#about h2{
    font-weight: bold;
}
#about p{
    font-size: 17px;
    margin-bottom: 30px;
}
.apiInfo{
    height: 120px;
}
@media (max-width:768px){
    .col-md-4{
        background-color: rgba(255,255,255,0.4)
    }
}
/*styling gallery carousel*/
#gallery{
    padding-top: 100px;
}
#myCarousel{
    width: 60%;
    margin: 0 auto;
}
.carousel-inner .item img{
    height: 350px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
    color: #722d0b;
}
.carousel-caption p{
    font-size: 17px;
    padding-top: 15px;
}
@media (max-width:768px){
    .carousel-inner .item img{
        height: 200px;
    }
    .carousel-inner h2{
        font-size: 17px;
    }
    .navbar-brand{
        font-size: 12px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}
/*styling footer*/
.footer{
    background-color: rgba(250,175,70,0.4);
    color: #fff;
    padding: 10px 0;
    margin-top: 100px;
    font-size: 15px;
}
/*styling my navigation bar*/
.navbar-custom {
  font-size: 18px;
  background-color: #cc7b46;
  border-color: #bd6a34;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d7986e), to(#cc7b46));
  background-image: -webkit-linear-gradient(top, #d7986e, 0%, #cc7b46, 100%);
  background-image: -moz-linear-gradient(top, #d7986e 0%, #cc7b46 100%);
  background-image: linear-gradient(to bottom, #d7986e 0%, #cc7b46 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7986e', endColorstr='#ffcc7b46', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #bd6a34;
}
.navbar-custom .navbar-nav > li > a {
  color: #c0c0c0;
  border-left: 1px solid #bd6a34;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: #bd6a34;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bd6a34), to(#d08554));
  background-image: -webkit-linear-gradient(top, #bd6a34, 0%, #d08554, 100%);
  background-image: -moz-linear-gradient(top, #bd6a34 0%, #d08554 100%);
  background-image: linear-gradient(to bottom, #bd6a34 0%, #d08554 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd6a34', endColorstr='#ffd08554', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #bb6933;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #bd6a34;
  color: #333333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #c0c0c0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333;
    background-color: #bd6a34;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #c0c0c0;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}